#zottle-logo-header{
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 2.3em;
    display: flex;
    margin-left: 1em;
    margin-top: 0.5em;
    width: fit-content;
  }

#zottle-logo-header:hover {
  cursor: pointer;
}

 #anteater-header{
    display: flex;
    height: 6.5em;
    will-change: filter;
    transition: filter 300ms;
    margin-left: 9em;
    margin-top: -5em;
  }
  
.letter.z { color: #4285F4; }   
.letter.o1 { color: #EA4335; }  
.letter.t1 { color: #FBBC05; }  
.letter.t2 { color: #4285F4; }  
.letter.l { color: #34A853; }   
.letter.e { color: #EA4335; }  


#search-header {
  position: absolute;
  padding-top: 0.4em;
  top: 0;
  left: 0;
  padding-bottom: 2em;
  width: 100vw;
  border-bottom: 1px solid grey;
}


#search-bar-form-header {
  background-color: grey;
  display: flex;
  align-items: center;
  width: 50%;
  height: 55px;
  border-radius: 9999px;
  margin-left: 16.5em;
  margin-top: -5em;

}

#search-bar-form-header:hover {
  background-color: rgb(154, 154, 154);
}

#search-bar-form:focus-within{
  background-color: grey;
}

/* the actual input box */
#search-bar-header {
  width: 100%;
  height: 100%;
  background-color: grey;
  padding: 8px 40px 8px 20px;
  border-radius: 9999px;
  margin-bottom: 0;
  border: none;
  background-color: transparent;

}

#search-bar-header:focus {
  border: none;
  outline:none;
}


#search-img-header {
  width: 2.0em;
  height: 1.2em;
  margin-right: 10px;
}

#search-img-header:hover {
  cursor: pointer;
}

/* the container, not the the actual input box */
#searchbar-header {  
  background-color: grey;
  width: 35em;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  color: white;
}

#search-bar-header::placeholder {
  color: white;
}

#header-container {
  margin-top: 9em;
  display: flex;
}

#url-link {
  display: inline-block;
  text-decoration: none;
  color: blue;
  word-break: break-word;      /* Break long words (like URLs) */
  overflow-wrap: break-word;   /* Ensure wrapping within the container */
}

#url-container {
  display:flex;
  justify-content: left;
  flex-direction: column;
  width: 100%;
  justify-content: left;
  margin-top: -1.5em;
  flex: 1; /* This makes the content area expand to fill the available space */

  /* background-color: white;  */
}

#url-link {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 4px;
  color: #4285F4;
  font-size: 15.5px;
  text-align: left;

}

#url-link:hover{
  text-decoration: underline;
}


.tf-idf-score {
  display: flex;
  justify-content: left;
  margin-left: 2em;
  font-size: 12px;
  color: white;
  /* position: fixed; */

}

#total-container {
  display: flex;
  align-items: left;
  flex-direction: column; /* Stack content vertically */
  flex: 1;
  width: 100vw;
}

#searchpage-container {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  min-height: 100%; /* Ensure the container fills the viewport height */
  /* background-color: white; */
}

#setting-footer-searchpage {
  background-color: rgb(41, 39, 39);
  width: 100%; /* Full width */
  height: 50px;
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  box-sizing: border-box; 
  padding: 0 1.5em;
  position: relative;
  bottom: 0px;
}
#footer-content-searchpage{
  position: absolute;
  right: 0;
  margin-top: 1em;
  margin-right: 1.5em;
  color: rgb(218, 211, 211);
  font-size: 0.8em;
}

#footer-content-searchpage:hover {
  cursor: pointer;
  text-decoration: underline;

}

#query-time {
  color: rgb(218, 211, 211);
  margin-top: 1em;
  font-size: 0.8em;
  margin-left: 1.5em;
  font-weight: bold;
}

#about-in-footer {
  position: absolute;
  right: 0;
  margin-top: 1em;
  margin-right: 13em;
  color: rgb(218, 211, 211);
  font-size: 0.8em;
}

#github-in-footer {
  position: absolute;
  right: 0;
  margin-top: 1em;
  margin-right: 8em;
  color: rgb(218, 211, 211);
  font-size: 0.8em;
}

html, body {
  height: 100%; 
  margin: 0; /* Remove default margins */
}