#root {
  margin: 0 auto;
  text-align: center;
}

.anteater {
  height: 10em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#about-link {
  position: absolute;
  top: 1em;
  left: 2em;
  font-size: 1em;
  color: white;
  
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

#about-link:hover{
  text-decoration: underline;
}

#github-link {
  position: absolute;
  top: 1em;
  left: 6em;
  font-size: 1em;
  color: white;
}

#github-link:hover {
  text-decoration: underline;
}

#buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10em;
}



#search-bar-form {
  display: flex;
  align-items: center;
  width:100%;
  height: 55px;
  padding: 0;
  margin: 0;
  border-radius: 9999px;

}

#search-bar-form:hover {
  background-color: rgb(154, 154, 154);
}

#search-bar-form:focus-within{
  background-color: grey
}

/* the actual input box */
#search-bar {
  width: 100%;
  height: 100%;
  background-color: grey;
  padding: 8px 40px 8px 20px;
  border-radius: 9999px;
  margin-bottom: 0;
  border: none;
  background-color: transparent;

}


#search-bar:focus {
  border: none;
  outline:none;
}



#search-img {
  width: 2.0em;
  height: 1.2em;
  margin-right: 10px;
}

#search-img:hover {
  cursor: pointer;
}

/* the container, not the the actual input box */
#searchbar {  
  background-color: grey;
  width: 35em;
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  color: white;
}

#search-bar::placeholder {
  color: white;
}

#zottle-logo {
  font-family: sans-serif;
  letter-spacing: 1px;
  font-size: 4.5em;
}

.letter.z { color: #4285F4; }   
.letter.o1 { color: #EA4335; } 
.letter.t1 { color: #FBBC05; }  
.letter.t2 { color: #4285F4; }  
.letter.l { color: #34A853; }   
.letter.e { color: #EA4335; }  

#setting-footer {
  display: flex;
  background-color: rgb(41, 39, 39);
  width: 100vw; 
  position: absolute; 
  bottom: 0;
  left: 0;
  height: 50px;
}

#footer-content  {
  position: absolute;
  bottom:0;
  right:0;
  margin-right: 1em;
  color: rgb(218, 211, 211);
  font-size: 0.8em;
}

#footer-content:hover {
  cursor: pointer;
  text-decoration: underline;

}

#main-container {
  margin-top: 5em;
}

#url {
  display:inline;
  font-size: 10px;
}